@tailwind base;
@tailwind components;
@tailwind utilities;

.react-tooltip {
  width: max-content;
  padding: 14px 16px;

  border-radius: 4px;
  font-size: 90%;
  color: white;
  background-color: rgb(32, 32, 32);
}

.react-tooltip-arrow {
  position: absolute;
  left: 124px;
  right: -4px;
  width: 8px;
  height: 8px;

  transform: rotate(225deg);
}

input {
  outline: none;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #ffffff;
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
  color: rgb(0, 0, 0);
}
